.brand {
    display: flex;
    margin: 0 0 62px 0;

    .brand__title-wrp {
        flex-grow: 1;
        padding: 0 0 0 68px;
        display: flex;
        align-items: center;
        background-color: $light-pink;

        @include tablet {
            padding: 0 0 0 92px;
        }

        @include tablet-mobile-mid {
            min-height: 363px;
            padding: 0 0 0 83px;
        }
    }

    .brand__img {
        width: 50%;
        object-fit: cover;

        @include tablet {
            width: 50%;
            min-height: 370px;
            object-fit: cover;
        }

        @include tablet-mobile-mid {
            display: none;
        }
    }
    
    .brand__title {
        @include font(48px, 58px, 900);
        text-transform: uppercase;

        @include tablet {
            @include font(52px, 44px, 900);
        }

        @include mobile {
            @include font(38px, 45px, 900)
        }
    }
    
    .brand__subtitle {
        display: block;
        @include font(37px,44px, 700);
        @include tablet {
            @include font(28px, 24px, 700);
        }

        @include mobile {
            @include font(20px, 24px, 700)
        }
    }
    
    .brand__subtitle-pink {
        color: $dark-pink;
        @include font($font-size: 20px, $font-style: italic);
    }
    
}