.catalog__item-image {
    width: 460px;
    height: 420px;
}

.catalog__title {
    text-align: center;
}

.catalog__text {
    text-align: center;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item {
    width: 31.6%;

    @include tablet-mid-width {
        width: 49%;
    }

    @include tablet-mobile-mid {
        width: 100%;
    }
}

.catalog__item-image {
    width: 100%;
    object-fit: cover;
}
